rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Permite acesso à pasta 'templates' para todos os usuários.
    match /templates/{allPaths=**} {
      allow read, write: if true;
    }

    // Permite que o usuário acesse sua própria pasta de uploads.
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    // Bloqueia o acesso à pasta 'database_backups'.
    match /database_backups/{allPaths=**} {
      allow read, write: if false;
    }
  }
}
